:root {
    --color-primari-dark: #31261a;
    --color-primari-light: #faf4ea;
    --color-brand-dark: #465929;
    --color-brand-light: #819b57;
}

/* Base */
body {
color: var(--color-primari-dark);
font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

/* Button */
.button {
    color: var(--color-primari-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* Link*/
.link {
    color: var(--color-primari-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-light);
}

/* Herro sectional*/
.hero-title {
    color: var(--color-primari-light);
    text-align: center;
    /* text-transform: capitalize: */
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* Advantages section*/
.advantages-list {
    color: var(--color-primari-light);
    background-color: var(--color-brand-light);
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* Traditions sectiion */
.tradicional-text .brand {
    color: var(--color-brand-light);
}

.tradicional-text .uppercase {
    text-transform: uppercase;
}  
