ul {
    list-style-type: none;
}

.button {
    color: #faf4ea;
    background-color: #819b57;
    border: 2px solid #819b57;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: #465929;
    background-color: transparent;
}

.link {
    color: #faf4ea;
}

link:hover {
    color: #819b57;
}

hero-ttle {
    color: #faf4ea;
}

.hero-title .accent {
    color: #819b57; /*HEX value */
}

advantages-list {
    color: #faf4ea;
    background-color: #819b57;
}